---
import { getCollection } from "astro:content";
import fs from "fs";

interface Props {
  url: string;
}
const { url } = Astro.props;

const sites: Record<string, Record<string, string>> = JSON.parse(
  fs.readFileSync("content/sites.json", "utf-8"),
);
const lang = Astro.url.pathname.split("/")[1];
const site = Object.keys(sites).includes(url) && sites[url];
let [url_, img, title, desc] = site
  ? lang == "tok"
    ? [url, site["img"], site["title_tok"], site["desc_tok"]]
    : [url, site["img"], site["title_eng"], site["desc_eng"]]
  : url.startsWith("http")
    ? [url, "", "", ""]
    : ((post) => [`/${url}`, "", post.data.title, post.data.description])(
        (await getCollection("content")).find((post) => post.id == url)!,
      );
---

<style>
  .card {
    padding: 5px 15px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 15px;
    align-items: center;
  }
  /*.card:nth-child(odd) {
    background-color: var(--bg-1);
  }*/
  .card:hover {
    background-color: var(--bg-1);
  }
  .title {
    font-weight: bold;
  }
  a:hover .title {
    text-decoration: underline dotted;
  }
  img {
    width: 100%;
    border-radius: 15px;
  }
  a {
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
  }
  a:active,
  a:hover {
    color: unset !important;
  }
</style>

<a class="card" href={`${url}`}>
  <div class="sp">{img && <img src={img} />}</div>
  <div><span class="title">{title}</span><br />{desc}</div>
</a>
